.navbar-nav a{
    color: black;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
}

.carousel-item {
	height: 100vh;
	min-height: 300px;
}

.carousel-caption {
	bottom: 220px;
	z-index: 2;
}

.carousel-caption h5{
    font-size: 95px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    margin-top: 50px;
}

.carousel-caption p{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

/* member */
.member{
    margin: 20px;
    width: 200px;
    height: 280px;
    
}

.allmember{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aboutus{
    width: 780px;
}

.login{
   height: 715px;
   width: 1200px;
}

@media screen and (max-width: 960px) {
    .aboutus{
        width: 400px;
    }
    .imageabout{
        width: 400px;
    }
}

@media only screen and (max-width: 600px) {
    .aboutus{
        width: 350px;
    }
    .imageabout{
        width: 350px;
    }
}